:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

input,
textarea,
button,
select,
a,
span,
svg,
div,
li,
ul,
ol {
  -webkit-tap-highlight-color: transparent;
}

.htmlOverflowHidden {
  overflow-y: hidden;
}

.htmlOverFlowScroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  overflow-x: hidden;
  font-family: Sora, sans-serif;
}

@media screen and (max-width: 768px) {
  html,
  body {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.datePickerContainer .MuiPickersDay-root:hover {
  background-color: #d2d6e0 !important;
}

.datePickerContainer .MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
  background-color: #203063 !important;
}

.datePickerContainer .MuiInputBase-input.MuiFilledInput-input::placeholder {
  color: #6a7682;
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 768px) {
  .datePickerContainer .MuiInputBase-input.MuiFilledInput {
    font-size: 16px;
    font-weight: 500;
  }
}

.datePickerContainer .MuiInputBase-root.MuiFilledInput-root {
  border: 1px solid white;
}

.datePickerContainer .MuiFormControl-root.MuiTextField-root {
  border: 1px solid #edecec;
  border-radius: 8px;
}


@media (max-width: 768px) {
  .datePickerContainer .MuiFormControl-root.MuiTextField-root {
    border-radius: 0px;
    border-bottom-left-radius: 8px;
    top: 0;
    max-height: 64px;
  }

  .datePickerContainer{
    position: relative;
    bottom: 0.05rem;
  }
}

.datePickerContainer .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-colorPrimary.Mui-error {
  box-shadow: white 0 0 0 0 !important;
  border-color: white !important;
}

.datePickerContainer .PrivatePickersYear-yearButton.Mui-selected {
  background-color: #203063 !important;
}

.datePickerContainer .MuiPickersPopper-root {
  margin-top: 0.5rem !important;
  margin-left: 5.4rem !important;
}
